<%- include('./partials/head') %>
<link rel="stylesheet" href="css/admin.css">
<body>
  <%- include('./partials/header') %>
  <h1>Welcome admin</h1>
  <div>
    <section>
      <form action="/admin" method="POST">
        <label for="elev">Elev</label>
        <select name="elev" id="elev">
          <% users.forEach(user=>{ %>
            <% if(user.role == 'user'){ %>
            <option value="<%= user.username %>">
              <%= user.username %>
            </option>
            <% }}) %>
        </select>
        <label for="bedrift">Bedrift</label>
        <input type="text" name="bedrift">
        <label for="">Type bedrift</label>
        <select name="typeBedrift" id="typeBedrift">
          <option value="lærling">Lærling</option>
          <option value="praksis">Praksis</option>
        </select>
        <Label>Representant</Label>
        <select name="representant" id="representant">
          <% users.forEach(user=>{ %>
            <% if(user.role == 'representant'){ %>
            <option value="<%= user.username %>">
              <%= user.username %>
            </option>
            <% }}) %>
        </select>
        <button type="submit">Submit</button>
      </form>
    </section>
  </div>
  <div class="uploads">
    <section class="upload-card">
      <% bedrift.forEach(company=>{ %>
        <div class="company">
          <h2>Elev: <%= company.elev %></h2>
        <h3>Bedrift: <%= company.bedrift %></h3>
        <h3>Stilling: <%= company.typeBedrift %></h3>
        <h3>Representant: <%= company.representant %></h3>
      </div>
     <% }) %>
    </section>
  </div>
</body>
