<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/profile.css" />
<body>
  <%- include('./partials/header') %> 

  <div class="profile-container">
    <section>
      <% Companies.forEach(company => { %>
      <div class="company">
        <h1>Bedrift: <%= company.bedrift %></h1>
        <h2>Stilling: <%= company.typeBedrift %></h2>
        <h2>Representant: <%= company.representant %></h2>
      </div>
    <% }) %>
    </section>
    <section>
      <% feedback.forEach(feed => { %>
      <div class="feed">
        <h2>Tilbakemeldinger</h2>
        <p><%= feed.feedback %></p>
      </div>
    <% }) %>
    </section>
  </div>
    

</body>
